@import "variables";

//Components
@import "components/inifite-scroll";
@import "components/colored-background";
@import "components/bottom-buttons";
@import "components/tabs";

//Templates
@import "components/header-template";
@import "components/pincode-template";
@import "components/profile-template";

html{
  height:100%;
  position: relative;
  box-sizing: border-box;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}
body{
  height:100%;
  position: relative;
  margin: 0;
}

a{
  color:inherit;
  text-decoration: none;
}

#app {
  text-align: center;
  color: #2c3e50;
  height: 100%;
  position: relative;
  background-color: #f3f3f3;

  .bottom-margin-menu {
    margin-bottom: 50px;
  }

  [loading=true] {
    &:after {
      content: ' ';
      z-index: 11;
      display: block;
      position: fixed;
      width: 40px;
      height: 40px;
      color: black;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border: solid 4px transparent;
      border-top-color: #00C8B1 !important;
      border-left-color: #00C8B1 !important;
      border-radius: 50%;
      animation: loading-bar-spinner 400ms linear infinite;
    }

    &:before {
      content: ' ';
      z-index: 10;
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    @keyframes loading-bar-spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .green{
    .scrolling-element{
      background-color: $color-green;
    }
  }

  .blue{
    .scrolling-element{
      background-color: $color-blue;
    }
  }

  .purple-dark {
    .scrolling-element{
      background-color: $color-purple-dark;
    }
  }
}

.scrolling-element{
  position:fixed;
  z-index: 3;
  top:0;
  left:0;
  width:100%;
}

.api-error{
  color: #cc0000;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
