$color-purple: #e8308a;
$color-purple-dark: #6c2a58;

$color-green: #95c11f;
$color-blue: #3881be;
$color-yellow: #f9b233;

$font-size: 12px;
$letter-spacing: 1px;
$font-weight: normal;
$font-family: 'Roboto', Helvetica, Arial, sans-serif;

$xxs-maxwidth: 320px;

$list-item-gradient-one: #fcfcfc;
$list-item-gradient-two: #f7f7f7;

$list-background: #f3f3f3;

$challenges-footer-bg: #E7E7E7;