<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-yona-services" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>AppUsagePlugin</name>

    <license>MIT</license>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device"/>

    <js-module src="www/AppVersion.js">
        <clobbers target="cordova.plugins.AppVersion"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <hook type="after_prepare" src="scripts/apply-to-gradle.properties.js"/>

        <!-- js -->
        <js-module src="www/ServicesPlugin.js" name="YonaServices">
            <clobbers target="cordova.plugins.YonaServices"/>
        </js-module>

        <js-module src="www/UserPreferences.js" name="UserPreferences">
            <clobbers target="cordova.plugins.UserPreferences"/>
        </js-module>

        <js-module src="www/TimePicker.js" name="TimePicker">
            <clobbers target="cordova.plugins.TimePicker"/>
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundMode">
                <param name="android-package" value="com.yona.plugin.services.BackgroundMode"/>
            </feature>
            <feature name="BackgroundModeExt">
                <param name="android-package" value="com.yona.plugin.services.BackgroundModeExt"/>
            </feature>
            <feature name="VpnPlugin">
                <param name="android-package" value="com.yona.plugin.services.VpnPlugin"/>
            </feature>
            <feature name="UserPreferences">
                <param name="android-package" value="com.yona.plugin.services.UserPreferences"/>
            </feature>
            <feature name="TimePicker">
                <param name="android-package" value="com.yona.plugin.timepicker.TimePicker"/>
                <param name="onload" value="true"/>
            </feature>
            <feature name="AppVersion">
                <param name="android-package" value="com.yona.plugin.appversion.AppVersion"/>
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true"/>
        </config-file>

        <config-file target="AndroidManifest.xml" mode="merge" parent="/manifest/application">
            <application android:theme="@style/Theme.AppCompat.Light"/>
            
            <service android:enabled="true" android:exported="false"
                     android:name="com.yona.plugin.services.AppMonitoringService" android:stopWithTask="false"/>

            <receiver android:name="com.yona.plugin.services.api.receiver.YonaReceiver" android:enabled="false">
                <intent-filter>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                    <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                    <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                    <action android:name="android.intent.action.SCREEN_ON"/>
                    <action android:name="android.intent.action.SCREEN_OFF"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="com.yona.app.RESTART_DEVICE"/>
                    <action android:name="com.yona.app.RESTART_VPN"/>
                    <action android:name="com.yona.app.CONNECT_VPN"/>
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
            <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>

        <source-file
                src="src/android/com/yona/plugin/services"
                target-dir="java/com/yona/plugin"/>

        <source-file
                src="src/android/com/yona/plugin/appversion"
                target-dir="java/com/yona/plugin"/>

        <source-file
                src="src/android/com/yona/plugin/timepicker"
                target-dir="java/com/yona/plugin"/>

        <framework src="src/android/openvpn/" custom="true"/>
        <framework src="src/android/libTimepicker/" custom="true"/>
        <framework src="com.android.support:support-compat:27.1.1"/>
        <framework src="com.google.code.gson:gson:2.4"/>
        <framework src="com.squareup.retrofit2:retrofit:2.0.2"/>
        <framework src="com.squareup.okhttp3:okhttp:3.2.0"/>
        <framework src="com.squareup.retrofit2:converter-gson:2.0.0"/>
        <framework src="org.codehaus.jackson:jackson-mapper-asl:1.9.13"/>
        <framework src="org.codehaus.jackson:jackson-core-asl:1.9.13"/>
        <framework src="yona-services.gradle" custom="true" type="gradleReference"/>

        <resource-file src="src/android/res/drawable/mdpi.png" target="res/drawable/notification.png"/>
        <resource-file src="src/android/res/drawable/mdpi.png" target="res/drawable-mdpi/notification.png"/>
        <resource-file src="src/android/res/drawable/hdpi.png" target="res/drawable-hdpi/notification.png"/>
        <resource-file src="src/android/res/drawable/xdpi.png" target="res/drawable-xhdpi/notification.png"/>
        <resource-file src="src/android/res/drawable/xxdpi.png" target="res/drawable-xxhdpi/notification.png"/>
        <resource-file src="src/android/res/drawable/xxxdpi.png" target="res/drawable-xxxhdpi/notification.png"/>

    </platform>

    <!--<platform name="ios">
        <plugins-plist key="AppVersion" string="AppVersion" />

        <config-file target="config.xml" parent="/*">
            <feature name="AppVersion">
                <param name="ios-package" value="AppVersion" />
            </feature>
        </config-file>

        <header-file src="src/ios/appVersion/AppVersion.h" />
        <source-file src="src/ios/appVersion/AppVersion.m" />

    </platform>-->

</plugin>
