@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import "../../../node_modules/bulma/sass/base/helpers.sass";
@import "../../../node_modules/bulma/sass/base/helpers.sass";

@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";

@import "../../../node_modules/bulma/sass/components/tabs.sass";