@import "../variables";

.colored-background{
  height:100%;
  &.purple-dark {
    background: $color-purple-dark url("../assets/images/colored-bg/triangle_top_purple.svg") no-repeat;
  }
  &.green {
    background: $color-green url("../assets/images/colored-bg/triangle_top_green.svg") no-repeat;
  }
  &.yellow{
    background: $color-yellow url("../assets/images/colored-bg/triangle_top_yellow.svg") no-repeat;
  }
  &.blue{
    background: $color-blue url("../assets/images/colored-bg/triangle_top_blue.svg") no-repeat;
  }
  .nav-title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    padding: 30px 15px 30px 30px;
    margin: 0;
    color: #fff;

    .nav-icon {
      float: right;
      margin-top: -6px;
    }
  }
}