.header-template {
  min-height:100%;
  position: relative;
  background-color:#fff;
  .colored-background{
    height:auto;
  }
  .header-icon{
    padding-top:15px;
    padding-bottom:50px;
  }
  .wrapper{
    padding:0 30px 100px;
    box-sizing: border-box;
    background: #fff;
    width:100%;
    .control{
      .icon{
        width:auto;
      }
    }
    .disclaimer{
      margin-top:30px;
      text-align: left;
    }
  }
}
