.infinite-scroll {
  height: 1px;
  width: 100%;

  &.loading {
    height:50px;
    padding-top:10px;
    display:block;

    &:after {
      content: ' ';
      display: block;
      width: 30px;
      height: 30px;
      color: black;
      margin: auto;
      border: solid 4px transparent;
      border-top-color: #00C8B1 !important;
      border-left-color: #00C8B1 !important;
      border-radius: 50%;
      animation: loading-bar-spinner 400ms linear infinite;
    }

    @keyframes loading-bar-spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

}
